{% extends "mail/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <script>
        function get_form() {
            const recipients = document.querySelector('#compose-recipients').value;
            const subject = document.querySelector('#compose-subject').value;
            const body = document.querySelector('#compose-body').value;
            
            send_email(recipients, subject, body);
        }
    </script>
{% endblock %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="mails-inbox">
        <!-- TODO: css -->
        <!-- <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul> -->
        <!-- hahaha -->
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" onsubmit="get_form()">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}